<%- include('partials/header') %>
    <%- include('partials/topbarDefault') %>


        <section id="PlayerGameList">
            <br><br><br><br>
            <h1>Game list:</h1>
            <br><br>
            <table class="gamesTable">
                <tr>
                    <th>#</th>
                    <%obj=playerGames[0];i=1%>
                        <% for(const key in obj) { %>
                            <% if(key!="Id" ) { %>
                                <th>

                                    <%=key %>

                                </th>
                                <%} %>
                                    <% } %>
                </tr>
                <% for(const obj of playerGames){ %>

                    <tr onclick=<%-`"window.location='/review?type=history&id=${obj.Id}'"`%>>

                        <td><%=i++ %></td>
                            <% for(const key in obj) { %>
                                <% if(key!=" Id" ) { %>
                        <% if(key=="Reason" ) { %>
                            <td class="alignLeft">
                                <% } else {%>
                            <td>
                                <% } %>
                                    <%= obj[key] %>
                            </td>
                            <% } %>
                                <% } %>
                    </tr>
                    <% } %>
            </table>




        </section>


        <section id="PGNGameList">
            <br><br><br><br>
            <h1>Game list:</h1>
            <br><br>
            <table class="gamesTable">
                <tr>
                    <th>#</th>
                    <%obj=pgn[0];i=1%>
                        <% for(const key in obj) { %>
                            <% if(key!="Id" ) { %>
                                <th>

                                    <%=key %>

                                </th>
                                <%} %>
                                    <% } %>
                </tr>
                <% for(const obj of pgn){ %>

                    <tr onclick=<%-`"window.location='/review?type=pgn&id=${obj.Id}'"`%>>

                        <td>
                            <a href=<%=`/review?&type=pgn&id=${obj.Id} %`%>>
                                <%=i++ %>
                            </a>
                        </td>
                        <% for(const key in obj) { %>
                            <% if(key!=" Id" ) { %>
                        <% if(key=="Reason" ) { %>
                            <td class="alignLeft">
                                <% } else {%>
                            <td>
                                <% } %>
                                    <%= obj[key] %>
                            </td>
                            <% } %>
                                <% } %>
                    </tr>
                    <% } %>
            </table>
        </section>



        <%- include('partials/footer') %>